body {
    background-color: #F5F5F5;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
    margin: 50px 0;
}

.container {
    margin: 150px auto;
    max-width: 800px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: flex;
    background-color: #594255;
}

.item {
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin: 2px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5em;
    color: #594255;
}

.reverso {
    flex-direction: row-reverse;
}

.coluna {
    flex-direction: column;
}

.coluna-reversa {
    flex-direction: column-reverse;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.alinha-centro {
    justify-content: center;
    align-items: center;
}

.aumenta-altura {
    height: 500px;
}

h1 {
    color: -webkit-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* Chrome 10+, Saf5.1+ */
    color:    -moz-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* FF3.6+ */
    color:     -ms-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* IE10 */
    color:      -o-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* Opera 11.10+ */
    color:         linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* W3C */

    text-align: center;
}

.alinha-direita {
    justify-content: flex-end;
    align-items: center;
}